aside {
  display: grid;
  grid-column: 2/3;
  right: 0;
  background-color: var(--surface-color-secondary);
  padding: 64px;
  position: fixed;
  height: 100%;
  width: 50%;
  align-items: center;
}

h1{
  font: var(--text-h1-bold);
  margin-top: 8px;
}
p{
  margin-top: 8px;
  font: var(--text-regular);
}
aside img:nth-child(4){
  margin-top: 32px;
  width: 496px;
  justify-self: center;
}